{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
    <h1>Create new Person</h1>

    {{ include('crud_person/_form.html.twig') }}

    <a href="{{ path('crud_person_index') }}">back to list</a>
{% endblock %}
