<fieldset>
    <legend class="legend">{{ Legend|default('Email (Your User Name)') }}</legend>
    <div class="form-group">
        {{ include('forms/Fields/_internet_email.html.twig') }}
    </div>
</fieldset>


