<fieldset>
	<legend class="legend">{{ Legend|default('Company Name') }}</legend>
	<div class="form-group">
		<div class="row">
			<div class="col">
				{{ form_row(form.nameCompany) }}
			</div>
		</div>
	</div>
</fieldset>