<fieldset>
	<legend class="legend">{{ Legend|default('') }}</legend>
	<div class="row">
		<div class="col">
			
			{{ form_row(form.nameBuyer) }}
			{{ form_row(form.dateDisposed) }}
		
		</div>
	</div>
</fieldset>